body {
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
}

/* 영역 확인
#review_container, #review_create, #review {
    border: 1px solid green;
} */

#review_container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#review_form > input{
    width: 20%;
    height: 20px;

    margin-top: 10px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    color: whitesmoke;
}

#review_create {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

#review_create >input {
    width: 80vw;
    height: 10vh;
    margin: 10px;

    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
}

#review {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 20px;
    
}

.set {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.set > .username,.reviewtext {
    margin: 20px;
}

.reviewtext {
    width: 60%;
    height: 5vh;
    margin: 10px;

    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: whitesmoke;

}

.modify, .delete {
    height: 10%;
    margin: 5px;
}

/* 버튼 */

button {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: linear-gradient(124.47deg, 
              rgba(61, 151, 215, 0.2), 
              rgba(61, 151, 215, 0.0), 
              rgba(61, 151, 215, 0.2));
    backdrop-filter: blur(5px);
  }

  button:hover {
    background: linear-gradient(124.47deg, 
              rgba(61, 151, 215, 0.8), 
              rgba(61, 151, 215, 0.6), 
              rgba(61, 151, 215, 0.8));
    top: 1px;
    margin-top: 1px;
  }

  button:active {
    position: relative;
    top: 5px;
    margin-top: 5px;
  }