<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>영화 상세정보</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/review.css" />
  </head>
  <body>
    <main class="review">
      <!-- 웹사이트의 내용을 전부 감싸며, 텍스트 본문 or 콘텐츠를 나타냄. 유일하게 하나만 있어야함.-->

      <header class="detail-header nanum-gothic-regular">
        <div class="">
          <a href="../index.html" class="detail-header__home-btn"
            ><i class="fa-solid fa-arrow-left"></i
          ></a>
        </div>
        <!-- <div class="detail-header__title">영화 상세 정보</div> -->
        <div class="detail-header__blank"></div>
      </header>
      <!-- 문서나 섹션의 머릿글 -->
      <!-- <nav class="search-bar gowun-dodum-regular"></nav> -->
      <!-- 웹의 메뉴나 탭, 탐색경로 등의 링크 제공 -->
      <section class="movie-detail">
        <article class="movie-detail__info">
          <!-- 구체적 sementic tag 가 없는 영역, 콘텐츠 내의 특정 주제나 별도의 주제 -->
          <!-- 게시물등 독립적인 컨텐츠를 하나 지정할때-->
          <!-- 영상이나 이미지 콘텐츠 포함-->
          <div class="movie-detail__info__box movie-detail__card1">
            <img class="movie-detail__info__image" src="#" alt="" />
          </div>

          <div class="movie-detail__info__box movie-detail__card2">
            <h4 class="movie-detail__info__title ubuntu-bold">
              <!-- 제목 -->
            </h4>

            <div class="movie-detail__info__span_box">
              <span class="movie-detail__info__rating ubuntu-medium"></span>
              <span class="movie-detail__info__date ubuntu-medium"></span>
            </div>

            <p class="movie-detail__info__overview quicksand-medium">
              <!-- 본문 -->
            </p>
          </div>
        </article>
    </main>
    <script src="../js/info.js" type="module"></script>
    <script
      src="https://kit.fontawesome.com/933537d04a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
