.movie-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-collection__card {
    height: 730px;
    width: 300px;
    margin: 20px 100px;
    border-radius: 15px;
    box-shadow : 3px 3px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.movie-collection__card__title {
    font-size: 24px;
    margin: 5px 0px;
}

.movie-collection__card__overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
    margin: 8px 0px;
    line-height: 1.1em;
}

.movie-detail__info__review {
    line-height: 2em;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-medium {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.except {
    display: none;
}

